# Node.js / React
node_modules/
build/
coverage/
*.log
.env
.env.*

# Python / Backend
__pycache__/
*.pyc
*.pyo
.venv/
env/

# IDE / Editor
.idea/
.vscode/
*.iml
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# Testing
coverage/
