/* Загальні стилі */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f7fc;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  width: 100%;
  height: 100vh; /* Забезпечує використання всього екрану */
  display: flex;
  flex-direction: column;
}

.chat-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #fff;
  border-radius: 0; /* Забираємо радіуси для повноекранного вигляду */
  box-shadow: none; /* Без тіні */
}

.messages {
  flex-grow: 1;
  overflow-y: auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #f9f9f9;
}

.message {
  padding: 10px;
  border-radius: 8px;
  max-width: 70%;
}

.user-message {
  align-self: flex-end;
  background-color: #4CAF50;
  color: white;
}

.bot-message {
  align-self: flex-start;
  background-color: #e0e0e0;
  color: #333;
}

.input-form {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #fff;
  border-top: 1px solid #ddd;
}

.input-field {
  flex-grow: 1;
  width: 100%; /* Поле вводу займає 70% ширини екрану */
  padding: 15px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 10px;
}

.send-button {
  padding: 10px 15px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 18px; /* Розмір іконки */
}

.send-button i {
  font-size: 20px; /* Розмір іконки */
  vertical-align: middle; /* Вирівнюємо іконку по центру */
}

.send-button:hover {
  background-color: #45a049;
}

.send-button:focus {
  outline: none;
}

/* Стилі для вимкненої кнопки */
.send-button.disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

/* Стилі для вітального тексту */
.welcome-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 18px;
  color: #888;
  text-align: center;
  z-index: 1;
}

.message-image {
  margin-top: 10px;
  max-width: 40%; /* Адаптація до ширини повідомлення */
  height: auto;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
/* Стилі для кнопки повтору */
.reset-chat-button {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: #4CAF50; /* Зелений фон для кнопки повтору */
  color: white;
  border: none;
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
  font-size: 20px;
  transition: background-color 0.3s ease;
  z-index: 2; /* Перекриває інші елементи */
}

.reset-chat-button:hover {
  background-color: #45a049;
}

.reset-chat-button:focus {
  outline: none;
}


/* Додатковий стиль для забезпечення адаптивності */
@media (max-width: 600px) {
  .input-field {
    width: 60%; /* Зменшення ширини поля на мобільних пристроях */
    font-size: 14px;
  }

  .send-button {
    font-size: 14px;
  }
}
